.triumvirate
{
	display: grid;
	gap: 1em;
	list-style: none;
	padding: 0;
    justify-content: center;
}

.cart_counter {
    font-size: 0.8em;
  }

@media (min-width: 44em)
{
	.triumvirate
	{
		grid-template-columns: repeat(3, 1fr);		
	}
}

.triumvirate > li,
#bones > a
{
	border: thin solid hsl(0, 0%, 90%);
	padding: 1em 2em 1.5em 1.5em;
	background: white;
}

.triumvirate a,
.triumvirate .link-title
{
	display: block;
	color: hsl(20, 100%, 40%);
}

.triumvirate a:visited,
.triumvirate a:visited .link-title
{
	display: block;
	color: hsl(-20, 100%, 40%);
}

#kirk a,
#spock a,
#bones .link-title
{
	margin-top: 1em;
}

.actor {
    font-weight: bold;
    font-size: 1.2em;
}

.character
{
	display: block;
	margin: 1em 0 0.25em;
	font-size: 1em;
	line-height: 1.1;
}

.visually-hidden
{
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
  white-space: nowrap;
}

#kirk
{
	position: relative;
    min-width: min-content;
}

#kirk a::after
{
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

#kirk:hover,
#spock.js-enabled:hover,
#bones a:hover,
#bones a:focus
{
	background: hsl(40, 100%, 90%);
	cursor: pointer;
}

#kirk:focus-within,
#spock:focus-within
{
	background: hsl(40, 100%, 90%);
}

#bones
{
	border: none;
	padding: 0;
}

#bones > a
{
	height: 100%;
	text-decoration: none;
}

#bones a :not(.link-title)
{
	color: black;
}

#bones .link-title
{
	text-decoration: underline;
}
