* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

form div {
  position: relative;
  margin: 20px 0;
}

form input {
  width: 100%;
  padding: 10px;
  outline: none;
}

form label {
  text-transform: capitalize;
  font-size: 20px;
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  transition-duration: 0.5s;
}

.card_number_label {
  text-transform: capitalize;
  font-size: 20px;
  position: absolute;
  left: 10px;
  top: 30px;
  transform: none;
  transition-duration: 0.5s;
}

form input:focus + label {
  left: 0;
  top: -15px;
}

.payment_form_container {
  margin-top: 1em;
}

.card_number_input {
  height: 35px;
  padding-top: 35px;
  margin-top: 20px;
}
